body {
  background-image: url("../imagenes/fondo.jpg"); /* Ruta de la imagen */
  background-size: cover;      /* Ajusta la imagen para cubrir toda la pantalla */
  background-repeat: no-repeat;/* No repetir la imagen */
  background-position: center; /* Centrar la imagen */
  background-attachment: fixed;/* Fondo fijo al hacer scroll */
  font-family: Arial, sans-serif;
}

h1 {
	color: orange;
	text-align: center;
	font-family: arial;
	font-size: 20;
}

h2 {
	color: green;
	text-align: left;
	font-family: arial;
	font-size: 15;
}

label {
    color: white;
    font-weight: bold;
}

p {
	font-family: arial;
	font-size: 13;
	color: white;
  	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

ul {
	font-family: arial;
	font-size: 13;
	color: white;
  	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

dl {
	font-family: arial;
	font-size: 13;
	color: white;
  	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

ol {
	font-family: arial;
	font-size: 13;
	color: white;
  	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
	text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

img {
  width: 300px;        /* ancho de la imagen */
  height: auto;        /* mantiene la proporción */
  border-radius: 10px; /* esquinas redondeadas */
  border: 2px solid #ccc; /* borde gris */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* sombra */
  margin: 10px;        /* separación alrededor */
}

.rss-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ff6600;
  font-weight: bold;
}

.rss-icon {
  width: 14px;       /* ancho deseado */
  height: 14px;      /* alto deseado */
  vertical-align: middle;
  margin-right: 5px;
  flex-shrink: 0;    /* evita que el icono se reduzca o estire con el texto */
}












