body {
  background-image: url("imagenes/fondo.jpg"); /* Ruta de la imagen */
  background-size: cover;      /* Ajusta la imagen para cubrir toda la pantalla */
  background-repeat: no-repeat;/* No repetir la imagen */
  background-position: center; /* Centrar la imagen */
  background-attachment: fixed;/* Fondo fijo al hacer scroll */
  font-family: Arial, sans-serif;
}

h1 {
	color: white;
	text-align: center;
	font-family: arial;
}

h2 {
	color: green;
	text-align: left;
	font-family: arial;
}

p {
	font-family: arial;
	font-size: 13;
}

ul {
	font-family: arial;
	font-size: 13;
}

dl {
	font-family: arial;
	font-size: 13;
}

ol {
	font-family: arial;
	font-size: 13;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
	text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

img {
  width: 300px;        /* ancho de la imagen */
  height: auto;        /* mantiene la proporción */
  border-radius: 10px; /* esquinas redondeadas */
  border: 2px solid #ccc; /* borde gris */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* sombra */
  margin: 10px;        /* separación alrededor */
}




